:root {
  --form-invalid-color: #eb0000;
  --form-input-color: #3C4650;
  --form-input-bg-color: #F0F5F7;
  --form-select-bg-color: #fff;
  --form-input-border-color: rgba(0 0 0 / 0%);
  --form-select-border-color: rgba(60 70 80 / 50%);
  --form-input-focus-color: #007CAD;
  --form-input-disabled: #e9ecef;
}

main .form,
main .section.form-container .default-content-wrapper {
  max-width: 560px;
}

main .section.form-container .default-content-wrapper {
  margin: auto;
}
 
main .form {
  margin: 0 auto 120px;
}

main .section.narrow .form {
  padding: 0 1rem;
  margin-left: 0;
}

main .form input,
main .form textarea,
main .form select {
  margin: 0;
  border: 1px solid #000;
  padding: 12px 1rem;
  width: 100%;
  height: calc(1.5em + 24px + 2px);
  max-width: 50rem;
  box-sizing: border-box;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  font-weight: 500;
  line-height: 1.5;
  color: var(--form-input-color);
  background-clip: padding-box;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

main .form input,
main .form textarea {
  background-color: var(--form-input-bg-color);
  border: 1px solid var(--form-input-border-color);
}

main .form select {
  appearance: none;
  background-color: var(--form-select-bg-color);
  border: 1px solid var(--form-select-border-color);
  background-image: url('./arrow-down-primary.svg');
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  background-size: 24px;
}

main .form select:disabled {
  background-color: var(--form-input-disabled);
  opacity: 1;
}

main .form textarea {
  min-height: 240px;
}

main .form .invalid>input,
main .form .invalid>textarea,
main .form .invalid>select {
  border-color: var(--form-invalid-color);
}

main .form input:hover,
main .form textarea:hover,
main .form select:hover {
  border-color: var(--highlight-background-color);
}

main .form input:focus,
main .form textarea:focus,
main .form select:focus {
  border-color: var(--form-input-focus-color);
  outline: 0;
}

main .form select:focus {
  background-color: var(--form-input-bg-color);
  box-shadow: none;
}

main .form-select-wrapper div {
  font-size: var(--body-font-size-s);
}

main .form .invalid>input:hover,
main .form .invalid>textarea:hover,
main .form .invalid>select:hover {
  border-color: var(--form-invalid-color);
}

main .form .invalid>input:focus,
main .form .invalid>textarea:focus,
main .form .invalid>select:focus {
  border-color: var(--form-invalid-color);
  outline: 0;
}

main .form label {
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  margin-bottom: 0.5rem;
}

main .form label>span {
  color: rgba(60 70 80 / 50%);
  font-weight: normal;
  font-size: var(--body-font-size-s);
  margin-left: 0.5rem;
}

main .form .field-wrapper {
  margin-bottom: 1.5rem;
}

main .form .form-validate-label {
  color: var(--form-invalid-color);
  font-size: var(--body-font-size-s);
  margin-top: 0.5rem;
  display: none;
}

main .form .invalid>.form-validate-label {
  display: block;
}

main .form .hidden {
  display: none;
}

main .form .form-checkbox-wrapper {
  display: flex;
}

main .form .form-checkbox-wrapper input[type='checkbox'] {
  display: none;
}

main .form .form-checkbox-wrapper input[type='checkbox']+label::before {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
  content: ' ';
  background: url('./checkbox.svg');
  background-size: contain;
}

main .form .form-checkbox-wrapper input[type='checkbox']:checked+label::before {
  background: url('./checkbox-checked.svg');
  background-size: contain;
  content: ' ';
}

main .form .form-checkbox-wrapper label {
  font-weight: normal;
  text-transform: none;
  display: block;
}

main .form .button {
  cursor: pointer;
  background: var(--button-background-color);
  color: var(--button-text-color);
  padding: var(--button-padding);
  font-weight: var(--button-font-weight);
  border-radius: var(--button-border-radius);
  min-width: 160px;
  height: 48px;
  border: none;
  display: inline-flex;
  align-items: center;
  place-content: center;
  line-height: 1;
}

main .form .button:disabled {
  background: var(--button-background-disabled-color);
  cursor: initial;
}

main .form .form-note>p {
  font-size: 12px;
  font-weight: 500;
  color: rgb(60 70 80 / 50%);
  line-height: 1.3;
  margin-bottom: 20px;
  letter-spacing: normal;
}

main .form .userconsent-note>p {
  font-size: 14px;
  line-height: 1.429;
  margin-bottom: 12px;
  letter-spacing: normal;
}

main .form .userconsent-note>p>a {
  text-decoration: underline;
  font-weight: 700;
}

main .form .addresses p {
  margin-top: 1.5rem;
  font-weight: var(--font-weight-regular);
  font-size: var(--body-font-size-m);
  font-family: var(--body-font-family);
  line-height: 1.5em;
  color: #3C4650;
}

main .form .addresses p strong {
  font-weight: var(--font-weight-bold);
  line-height: 1;
  display: inline-block;
  margin-bottom: 0.5rem
}

main .form-container h2 {
  color: var(--primary);
  margin: 4rem 0 3rem;
  font-size: var(--heading-font-size-xl);
}

main .section.form-container .section-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width:77rem) {
  main .section.form-container .section-container {
    padding-left: 0;
    padding-right: 0;
  }
}
