/*
 * Copyright 2023 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

main .hero-horizontal-tabs-wrapper {
  background-color: var(--primary);
}

main .hero-horiz-tabs-panel {
  position: relative;
  display: flex;
  flex-direction: column;
}

main .hero-horiz-tabs-nav {
  margin-left: 1rem;
}

main .hero-horizontal-tabs.block {
  display: flex;
  flex-direction: column;
}

main div.tab-item {
  animation: fade-out 0ms linear forwards;
  display: none;
}

main div.tab-item.active {
  animation: fade-in 0.15s linear forwards;
  display: block;
}

main .hero-horiz-tabs-text {
  color: var(--muted-text);
  padding-top: 1.625rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 2rem;
}
  
main .hero-horiz-tabs-img {
  order: -1;
}

main .hero-horiz-tabs-text > h1 {
  color: var(--white);
  font-size: var(--heading-font-size-l);
  font-weight: var(--font-weight-small);
  line-height: 3rem;
  margin-bottom: 0.75rem;
  margin-top: 0;
}

main .hero-horiz-tabs-text > h2 {
  color: var(--white);
  font-size: var(--heading-font-size-l);
  font-weight: var(--font-weight-small);
  line-height: 1.3em;
  margin-bottom: 0.75rem;
  margin-top: 0;
}

main .hero-horiz-tabs-text > h6 {
  color: var(--hero-strong-color);
  font-size: var(--heading-font-size-xxxs);
  letter-spacing: 0.7px;
  margin-bottom: 0.75rem;
}

main .hero-horiz-tabs-text > p {
  font-size: var(--body-font-size-s);
}

main .hero-horiz-tabs-with-button .hero-horiz-tabs-text {
  margin-right: 1rem;
}

main .hero-horiz-tabs-with-button .hero-horiz-tabs-text > h2 {
  font-size: var(--heading-font-size-xmxl);
}

main .hero-horiz-tabs-with-button .hero-horiz-tabs-text > p {
  font-size: var(--body-font-size-m);
}

main .hero-horiz-tabs-with-button .hero-horiz-tabs-text p.button-container {
  margin-bottom: 0.4375rem;
}

main .hero-horiz-tabs-with-button .hero-horiz-tabs-text p.button-container > a {
  width: 100%;
  background-color: var(--orange-light);
}

main div.no-image .hero-horiz-tabs-text > p {
  color: var(--white);
  line-height: 1.5em;
}

main .hero-horiz-tabs-img picture {
  display: block;
  height: 15rem;
}



main .hero-horiz-tabs-img picture > img {
  object-fit: cover;
  object-position: center;
  max-height: 100%;
  min-width: 100%;
  height: inherit;
}

main .hero-horizontal-tabs nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
  text-wrap: nowrap;
  flex-wrap: wrap;
}

main .hero-horizontal-tabs nav ul li {
  padding: 0;
  margin: 0;
}

main .hero-horizontal-tabs nav button {
  background-color: var(--transparent-blue-light-color);
  padding: 0.5px 1rem;
  color: var(--light-black);
  border-left: 1px solid #d9dfe2;
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-medium);
  border-radius: 0;
  min-width: auto;
  height: 2.5rem;
}

main .hero-horizontal-tabs nav button:hover {
  text-decoration: none;
  background-color: white;
  color: var(--primary);
}

main .hero-horizontal-tabs nav button.active {
  background-color: white;
  color: var(--primary);
}

main .hero-horizontal-tabs-wrapper + .section.static {
  margin-bottom: unset;
}

main .hero-horizontal-tabs a.button.primary.video-link::after {
  content: url('../../icons/play.svg');
  position: relative;
  top: 0.1rem;
  left: 0.3rem;
}

@media (min-width:62rem) {
  main .hero-horiz-tabs-panel {
    width: 50%;
  }

  main .hero-horizontal-tabs.block {
    flex-direction: row;
    max-width: 54.5rem;
  }

  main .hero-horiz-tabs-text {
    padding-top: 6rem;
    margin-left: 0;
    min-width: 27.25rem;
  }

  main .hero-horiz-tabs-with-button .hero-horiz-tabs-text {
    margin-right: 2rem;
    width: 30.375rem;
  }

  main div.no-image .hero-horiz-tabs-text {
    padding-top: 0;
    margin: 3rem 2rem 7rem 0;
  }

  main .hero-horiz-tabs-nav {
    margin-left: 0;
  }

  main .hero-horiz-tabs-text > h6 {
    font-size: var(--heading-font-size-xxs);
  }

  main .hero-horiz-tabs-text > h1 {
    font-size: var(--heading-font-size-xxl);
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }

  main .hero-horiz-tabs-text > h2 {
    font-size: var(--heading-font-size-ml);
  }

  main .hero-horiz-tabs-img {
    order: 0;
  }

  main .hero-horiz-tabs-img picture {
    width: calc(50vw - 1rem);
    height: 26rem;
  }

  main .hero-horizontal-tabs nav {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  main .hero-horizontal-tabs nav button {
    font-size: var(--body-font-size-l);
    font-weight: var(--font-weight-regular);
    padding: 1rem 2rem;
    height: 3.5rem;
  }

  main .hero-horizontal-tabs.block.no-image {
    height: auto;
    min-height: 20rem;
    padding-top: 0;
  }

  main .hero-horizontal-tabs.block.no-image .hero-horiz-tabs-panel {
    justify-content: center;
    width: 70%;
  }

  main .hero-horiz-tabs-with-button .hero-horiz-tabs-text > h2 {
    margin-bottom: 2.2rem;
  }

  main .hero-horiz-tabs-with-button .hero-horiz-tabs-img picture {
    height: 34.75rem;
    width: calc(41vw);
  }

  main .hero-horiz-tabs-with-button .hero-horiz-tabs-text-button {
    width: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  main .hero-horiz-tabs-with-button .hero-horiz-tabs-text-button-left,
  main .hero-horiz-tabs-with-button .hero-horiz-tabs-text-button-right {
    flex: 0 1 auto;
    
  }
  
  main .hero-horiz-tabs-with-button .hero-horiz-tabs-text p.button-container > a {
    width: 14.375rem;
    font-size: var(--body-font-size-s);
    background-color: var(--orange-light);
  }
}

@media (min-width:77rem) {
  main .hero-horizontal-tabs.block {
    max-width: 75rem;
  }

  main .hero-horiz-tabs-text {
    padding-top: 7.5rem;
    margin-right: 2rem;
    min-width: 29.5rem;
  }

  main .hero-horiz-tabs-text > h2 {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
  }

  main .hero-horiz-tabs-text > h6 {
    margin-bottom: 1.5rem;
  }

  main .hero-horiz-tabs-text > p {
    font-size: 1rem;
  }

  main .hero-horiz-tabs-img picture {
    height: 32.5rem;
  }

  main .hero-horiz-tabs-with-button .hero-horiz-tabs-text {
    padding-top: 3.5rem;
  }

  main .hero-horiz-tabs-with-button .hero-horiz-tabs-img picture {
    height: 33.75rem;
  }
}
