.block.link {
  margin-bottom: 1.25rem;
}

.block.link a.button {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  align-items: center;
}

.block.link.arrow a::after {
  content: url("../../icons/angle-right-blue.svg");
  position: relative;
  left: 0.3rem;
  top: 0.5rem;
}

.block.link.no-margin {
  margin-bottom: 0;
}

.block.link.white-button a {
  border: 1px solid var(--link-color);
  color: unset;
  background-color: unset;
}

.block.link.large-button a {
  width: 100%;
  font-size: 1.25rem;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.block.link.large-button a::after {
  content: unset;
}

.block.link.large-background-button {
  background-color: var(--primary);
  max-width: 100%;
  margin: 0 1rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.block.link.large-background-button:hover {
  background: var(--link-color);
}

.block.link.large-background-button a {
  padding: 1.5rem;
}

.block.link.large-background-button a:hover {
  text-decoration: none;
}

.block.link.large-background-button .download-icon {
  position: absolute;
  top: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
}  

.block.link.large-background-button .download-details {
  position: relative;
  margin-left: 1.375rem;
}  

.block.link.large-background-button .download-details h6 {
  color: var(--hero-strong-color);
  font-size: var(--body-font-size-s);
  line-height: 1.3rem;
  margin: 0 1rem 0 3.625rem;
  text-transform: unset;
  letter-spacing: 0.05em;
}  

.block.link.large-background-button .download-details h2 {
  font-size: var(--body-font-size-xxl);
  line-height: 1.75rem;
  margin-top: 0.75rem;
  margin-bottom: unset;
  display: inline-block;
  color: var(--white);
  text-align: left;
}  

.block.link.white-button a:hover {
  color: var(--white);
  background-color: var(--link-blue-color);
  border-color: var(--dark-cyan-color);
}

.block.link ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.block.link ul li {
  padding: 0;
  margin: 0;
}

.block.link ul > * {
  flex-grow: 1;
}

.block.link.breadcrumb.arrow a::after {
  left: 0;
  top: 0;
  padding-inline: 8px;
  vertical-align: middle;
}

@media (min-width: 62rem) {
  .block.link {
    margin-bottom: 1.5rem;
  }

  .block.link.no-margin {
    margin-bottom: 0;
  }

  .block.link.large-button a {
    font-size: 1.5rem;
  }

  .block.link ul {
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .block.link ul li {
    padding: 0;
    margin: 0;
  }

  .block.link.large-background-button {
    margin: 0 0 2.5rem;
  }
 
  .block.link.large-background-button a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2.5rem 6rem;
  }

  .block.link.large-background-button .download-icon {
    position: unset;
    width: 3.5rem;
    height: 3.5rem;
  }  

  .block.link.large-background-button .download-details {
    position: relative;
    margin-left: 1.375rem;
    width: 39.375rem;
  }  

  .block.link.large-background-button .download-details h6 {
    margin: unset;
  }  
  
  .block.link.large-background-button .download-details h2 {
    font-size: var(--heading-font-size-mxl);
    line-height: 3rem;
    margin: unset;
    display: unset;
  }  
}

@media (min-width: 77rem) {
  .block.link.large-background-button a {
    padding: 2.5rem 14.5rem;
  }
}  
