.card-carousel {
  --card-width: 16rem;

  margin-top: 3rem;
}

.card-slider {
  display: flex;
  flex-direction: column;
}

.cards-card-image {
  height: 12.5rem;
  margin: 0;
  padding: 0;
}

.career .card-slider{
  margin-left: -1rem;
}

.card-slides {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;

  /* We want to hide the scroll bar */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

/* Hide the scroll bar */
.card-slides::-webkit-scrollbar {
  /* for Chrome, Safari and Opera */
  display: none;
}

.card-carousel .carousel-childcard {
  flex-shrink: 0;
  box-sizing: border-box;
  box-shadow: 0 2px 12px 0 rgb(60 70 80 / 20%);
  border: none;
  background-color: var(--white);
  margin: 1.5rem 3.5px;
  width: 15rem;
  transition: all 0.15s ease-in-out;
}

.card-carousel.career .carousel-childcard {
  margin: 1.5rem 0.5rem;
  padding: 1rem;
  width: var(--card-width);
}

.card-carousel .career-card:hover {
  box-shadow: var(--light-grey) 0 4px 16px 0;
}

.cards-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}

.card-carousel .carousel-childcard a {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--gray-dark);
  font-weight: var(--font-weight-medium);
  padding: 0;
  background: none;
}

.card-carousel .carousel-childcard a > div:nth-child(2) {
  margin: 2rem 1rem;
  font-size: var(--body-font-size-l);
  color: var(--gray-dark);
}

.card-carousel.career .carousel-childcard a > div:nth-child(2) {
  margin: 0;
}

.card-carousel.career .carousel-childcard a > :not(picture) {
  width: 100%;
}

.card-carousel .carousel-childcard picture {
  align-self: center;
  width: 14.375rem;
  margin: 0 0 1.375rem;
}

.card-carousel .carousel-childcard picture img {
  height: 10rem;
  width: 18rem;
}

.card-carousel .carousel-childcard blockquote {
  color: var(--primary);
  font-size: var(--body-font-size-m);
  font-style: normal;
  line-height: 24px;
  margin: 0 0 19px;
  max-height: 8rem;
  overflow: hidden;
  text-indent: 0;

  /* Show ellipsis on multiline text */
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card-carousel .carousel-childcard .career-card-bqc {
  height: 8rem;
  margin-bottom: 0.75rem;
}

.card-carousel .carousel-childcard h6 {
  color: var(--light-black);
  font-size: var( --heading-font-size-mxs);
  text-transform: none;
  margin-bottom: 6px;
}

.card-carousel .carousel-childcard p {
  color: var(--light-black);
  font-size: var(--body-font-size-s);
  height: 2.5rem;
  line-height: 21.6px;
  margin-bottom: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-carousel .carousel-childcard button {
  background-color: unset;
  color: var(--secondary);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-medium);
  justify-content: left;
  height: auto;
  padding: 0;
  margin-block: 1rem;
}

.card-carousel .carousel-childcard button:hover {
  text-decoration: underline;
}

.card-carousel .carousel-childcard button .icon-angle-right-blue {
  height: 14px;
  width: 10px;
  margin-left: 6px;
  margin-top: 2px;
}

.card-carousel .card-slides-navbar {
  display: none;
  margin-top: -0.5rem;
  overflow-x: hidden;
}

.card-carousel .card-slides-nav {
  display: inline-flex;
  align-items: center;
  margin-top: 3.125rem;
  margin-bottom: 2.5rem;
  margin-left: calc(50% - 4rem);
}

.card-carousel .card-slides-nav span {
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 50%;
  background: #0003;
}

.card-carousel .card-slides-nav span.active-nav {
  background: var(--secondary);
}

.card-carousel .card-slides-nav .btn-angle {
  height: 1.5rem;
  width: 1rem;
  margin-inline: 0.5rem;
}

@media (min-width: 77rem) {
  .card-slider {
    width: calc(((var(--card-width) + 3rem) * 4));
  }

  .career .card-slider{
    width: calc(((var(--card-width) + 3rem) * 4));
  }

  .card-carousel .carousel-childcard {
    margin: 1.5rem 2.2rem 1.5rem 0;
    width: 17rem;
  }

  .card-carousel .carousel-childcard blockquote {
    font-size: var(--body-font-size-l);
    line-height: 29px;
    max-height: 9.375rem;
  }

  .card-carousel .carousel-childcard .career-card-bqc {
    height: 9.375rem;
  }

  .card-carousel .carousel-childcard picture img {
    height: 12.5rem;
    width: 30rem;
    padding-inline: 0;
  }

  .card-carousel.career .carousel-childcard picture img {
    width: 14.375rem;
  }

  .card-carousel .card-slides-navbar {
    display: flex;
  }
}
