main .block.text.padded {
  padding: 0 1rem;
}

main .block.text.narrow {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 37.5rem;
  text-align: left;
  margin-bottom: 3.5rem;
}

main .block.text.narrower {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 45rem;
  margin-bottom: 3.5rem;
}

main .block.text.left-aligned h1,
main .block.text.left-aligned h2,
main .block.text.left-aligned h3,
main .block.text.left-aligned h4,
main .block.text.left-aligned h5,
main .block.text.left-aligned h6,
main .block.text.left-aligned p,
main .block.text.left-aligned div {
  text-align: left;
  margin-left: 0;
}

main .block.text.black h1,
main .block.text.black h2,
main .block.text.black h3,
main .block.text.black h4,
main .block.text.black h5,
main .block.text.black h6,
main .block.text.black p {
  color: var(--light-black);
}

main .block.text.highlight {
  margin-top: 5rem;
}


main .block.text.highlight h2 {
  margin-bottom: .5rem;
  text-align: center;
}

main .block.text.highlight a.button.primary {
  color: var(--secondary);
  background: none;
  font-weight: var(--font-weight-medium);
  font-size: var(--body-font-size-m);
  line-height: 1.5em;
  text-decoration: none;
  padding: 0;
  height: auto;
}

main .block.text.half-width-center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

main .block.text.muted,
main .block.text.muted p {
  color: var(--steel-blue);
  font-size: var(--body-font-size-xs);
  padding: 0;
  margin: 0;
}

main .block.text.alert {
  color: #cf2e2e;
  font-weight: bolder;
  margin-bottom: 1rem;
}

main .block.text.border {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

main .block.text.rounded-border {
  padding: 0 2rem;
  margin-bottom: 1rem;
}

main .block.text.rounded-border,
main .block.text.rounded-border p {
  font-size: var(--body-font-size-xl);
}

main .block.text.rounded-border  h4 {
  text-align: center;
  border-bottom: 1px solid var(--light-black);
  padding-bottom: 1.5rem;
  margin-bottom: 3rem;
  font-size: var(--heading-font-size-s);
}

main .block.text.lead {
  font-size: var(--body-font-size-xl);
  margin: 0 0 1.25rem;
}

main .block.text.colored {
  color: var(--primary)
}

main .block.text.emphasis {
  margin-inline: -1rem;
  padding: 1rem;
  background-color: var(--transparent-blue-light-color);
  margin-block: 1.5rem;
}

main .block.text.light-background {
  padding: 1rem;
  background-color: var(--transparent-blue-light-color);
  margin-block: 1.5rem;
}

main .block.text.text-small,
main .block.text.text-small p {
  font-size: var(--body-font-size-xs);
}

main .block.text.emphasis > div > div > :first-child,
main .block.text.light-background  > div > div > :first-child {
  margin-top: 0;
}

main .block.text.emphasis > div > div > :last-child,
main .block.text.light-background  > div > div > :last-child {
  margin-bottom: 0;
}

main .block.text.red-circle > div > div::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--red);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

main .block.text.red-circle > div {
  position: relative;
}

main .block.text.red-circle > div > div * {
  margin-left: 10px;
}

@media (min-width: 77rem) {
  main .block.text.lead {
    font-size: var(--body-font-size-xxl);
    margin: 0 0 1.5rem;
  }

  main .block.text.emphasis {
    margin-inline: -3rem;
    padding: 3rem;
    margin-block: 2rem;
  }

  main .block.text.light-background {
    margin-block: 1.5rem;
    padding: 2rem;
  }
}
