.search-results-container {
  margin: 16px;
}

.search-results-container h2 {
  font-size: var(--heading-font-size-l);
  margin-top: 64px;
  margin-bottom: 20px;
}

.search-results form.search > div {
  display: flex;
  border-bottom: 1px solid var(--transparent-grey-light-color);
  padding: 0;
}

.search-results input.search-text {
  border: 0;
  color: var(--light-black);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-medium);
  padding: 8px 4px 6px 1px;
  width: 100%;
  margin: 0;
}

.search-results input.search-text:focus {
  outline: none;
}

.search-results input.search-text::placeholder {
  color: var(--transparent-grey-color);
}

.search-results button.search-icon {
  align-self: center;
  background-color: var(--background-color);
  background-image: url('/icons/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  margin: 4px 0 0;
  padding: 0;
  height: 14px;
  width: 14px;
  min-width: 14px;
}

.search-results .search-summary {
  border-bottom: 1px solid var(--transparent-grey-light-color);
  color: var(--light-black);
  font-family: var(--body-font-family);
  font-size: var(--heading-font-size-s);
  font-weight: var(--font-weight-medium);
  padding-top: 32px;
  padding-bottom: 64px;
}

.search-results .search-result {
  border-bottom: 1px solid var(--transparent-grey-light-color);
  padding-top: 26px;
  padding-bottom: 28px;
}

.search-results .search-result h3 {
  line-height: 1.6rem;
  padding-bottom: 12px;
}

.search-results .search-result a {
  color: var(--secondary);
  font-family: var(--body-font-family);
  font-size: var(--heading-font-size-s);
  font-weight: var(--font-weight-medium);
}

.search-results ul.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  list-style: none;
  flex-wrap: wrap;
}

.search-results .pagination a {
  border-right: 1px solid var(--overlay-background-color);
  font-size: var(--font-size-small);
  color: var(--secondary);
  padding: 7px 20px;
}

.search-results .pagination .notvisible {
  display: none;
}

.search-results .pagination li:nth-of-type(2) a {
  border-left: 1px solid var(--overlay-background-color);
}

.search-results .pagination li.page {
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: center;
   /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url('/icons/search-arrow.svg') no-repeat center;
  mask: url('/icons/search-arrow.svg') no-repeat center;
}

.search-results .pagination li.prev.page {
  /* Horizontal flip the image */
  transform: scaleX(-1);
}

.search-results .pagination li.page.disabled {
  background-color: #bcbcbc;
}

.search-results .pagination li a:hover, .search-results .pagination li.active a {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}

.search-results .pagination li.page.disabled a:hover {
  background-color: inherit;
}

.search-result p.parent-detail {
  color: var(--light-grey);
  font-size: var(--font-size-small);
  margin-bottom: 0.875rem;
  display: inline-block;
  line-height: 1;
}

.search-result p.parent-detail span.news-date {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-right: 0.063rem solid var(--transparent-grey-light-color);
}

@media (min-width: 30rem) {
  .search-results form.search > div {
    width: 30rem;
  }
}

@media (min-width: 62rem) {
  .search-results-container h2 {
    font-size: var(--heading-font-size-xl);
  }

  .search-results .search-summary {
    font-size: var(--heading-font-size-m);
  }

  .search-results .search-result a {
    font-size: var(--heading-font-size-m);
  }
}