.section.breadcrumb-container {
  padding: 0;
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: 1;
  display: none;
  min-height: 2.08rem;
}

.section.breadcrumb-container.visible {
  background: #F2F6F8;
}

.block.breadcrumb {
  list-style: none;
  padding: 0.625rem 0;
}

.block.breadcrumb.visible {
  display: flex;
}

.block.breadcrumb a {
  color: #00578A;
}

.block.breadcrumb ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb-item {
  padding: 0;
  margin: 0;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item::before {
  height: 0.75rem;
  width: 0.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  background-image: url('../../icons/angle-right.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  content: "";
}

.breadcrumb-item:last-child {
  color: var(--black);
}

@media (min-width: 62rem) {
  .section.breadcrumb-container {
    display: block;
  }

  .block.breadcrumb {
    max-width: 56.5rem;
    padding-right: 1rem;
  }
}

@media (min-width: 77rem) {
  .block.breadcrumb {
    padding-left: 0;
    padding-right: 0;
  }

  main .breadcrumb.block {
    max-width: var(--section-max-width);
  }
}
